<% provide(:title, :pin) %>
<div class="row">
  <aside class="col-lg-4">
    <section>
    <img src= '<%= @pin.url %>' alt="pin image" class="img-responsive img-mid">
    </section>
    <div id="likeship">
      <%= render 'likeships/like_button' %>
    </div>

  <h4>Description:</h4>
  <%= @pin.description %><br>
  <% if current_user?(@pin.user) %>
    <%= link_to "delete", @pin, method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: @pin.description,
                                     class: "btn btn-primary" %>
  <% end %>
  <%= link_to "Repin", new_pin_path(pin_id: @pin.id, repin_id: @pin.repin_id),
            class: "btn btn-primary" %>

  <p>
    Tag: <%= raw @pin.tags.map(&:name).map { |t| link_to t, '#' }.join(', ') %>
  </p>

  <div id="Comments-list">
    <%= render 'comments/comments_list' %>
  </div>

  <div class="Comment-form">
    <%= render 'comments/comments_form' %>
  </div>

  </aside>
</div>