<% provide(:title, :pin) %>
<div class="row">
  <aside class="col-lg-4">
    <section>
    <img src= '<%= @pin.url %>' alt="pin image" class="img-responsive img-mid">
    </section>
  </aside>
</div>
<aside class="col-lg-4">
<div class="row">
  <p>
    <a href="" class="like-botton">
      <% if @pin.likers.include? current_user %>
        <span class="glyphicon glyphicon-heart"></span></b>
      <% else %>
        <span class="glyphicon glyphicon-heart-empty"></span></b>
      <% end %>
    </a>
    <%= @pin.likers.count %>
  </p>

  <p>
  <h4>Description:</h4>
  <%= @pin.description %><br>
  <% if current_user?(@pin.user) %>
    <%= link_to "delete", @pin, method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: @pin.description,
                                     class: "btn btn-primary" %>
  <% end %>
  <%= link_to "Repin", new_pin_path(pin_id: @pin.id, repin_id: @pin.repin_id),
            class: "btn btn-primary" %>
  </p>
  <p>
    Tag: <%= raw @pin.tags.map(&:name).map { |t| link_to t, '#' }.join(', ') %>
  </p>
</aside>
</div>

<script type="text/javascript">

  <% if @pin.likers.include? current_user %>
    like_url = '<%= unlike_path %>'
  <% else %>
    like_url = '<%= like_path %>'
  <% end %>

  $(".like-botton").click(function(){
    $.ajax({
      type: "GET",
      url: like_url,
      data: {
        pin_id: '<%= @pin.id %>'
      },
      success: function(data){
        data = JSON.parse(data);
        if(data['like'])
          $("#like-botton").html('<span class="glyphicon glyphicon-heart"></span>');
        else
          $("#like-botton").html('<span class="glyphicon glyphicon-heart-empty"></span>');
      }
    })
  });
</script>