<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-lg-4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div class="col-lg-8">
    <% if @user.pins.any? %>
      <h3>pins (<%= @user.pins.count %>)</h3>
      <ol class="pins">
        <%= render @pins %>
      </ol>
      <%= will_paginate @pins, renderer: BootstrapPagination::Rails %>
    <% end %>
  </div>
</div>

<section id="comment">
  <h3 class="title">Comments</h3>
  <div id="disqus_thread" aria-live="polite"><noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</div>
</section>
<script type="text/javascript">

  var disqus_shortname = 'dinterest21';
  var disqus_identifier = <%= @user.id %>;
  
  (function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript';
    dsq.async = true;
    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>