<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-lg-4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div class="col-lg-8">
    <% if @user.pins.any? %>
      <h3>pins (<%= @user.pins.count %>)</h3>
      <ol class="pins">
        <%= render @pins %>
      </ol>
      <%= will_paginate @pins, renderer: BootstrapPagination::Rails %>
    <% end %>
  </div>
</div>