<li id="<%= feed_item.id %>">
  <span class="user">
    <%= link_to feed_item.user.name, feed_item.user %>
  </span>
  <span class="description timestamp">
    pinned
    <%= link_to truncate(feed_item.description, length: 17), feed_item %>
  </span>
  <span class="timestamp">
    in <%= link_to feed_item.board.name, 
                board_path(feed_item.board_id) %>,&nbsp;
    <%= time_ago_in_words(feed_item.created_at) %> ago.
  </span>
</li>